#modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
    width: 85%;
    font-size: .9vw;
    line-height: 1.5vw;
    border: solid black .25vw;
    margin-bottom: .4vw;
}

textarea {
    resize: vertical;
}

#modify-input a, #create-input a {
    font-size: .9vw;
    line-height: 1.5vw;
}

#listing-select-div {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.end-time, .start-time {
    font-size: .94vw;
    line-height: .94vw;
}

.partner-collection .website {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10%;
}

#create-input, #modify-input {
    width: 40%;
}

@media screen and (max-width: 991px) {

    #create-input, #modify-input {
        width: 90%;
    }

    .end-time, .start-time {
        font-size: 1.9vh !important;
        line-height: 2vh !important;   
    }

    #modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
        width: 85%;
        font-size: 2vh;
        line-height: 2vh;
        border: solid black 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        min-height: 25px;
    }

    #modify-input a, #create-input a {
        font-size: 2vh;
        line-height: 2vh;
    }

    #modify-input button {
        margin-top: 10px;
    }
}